.Tasks-header {
    background-color: #C9E9B2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
    padding-top: 20px;
    position: relative;
  }
  
  .back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: auto;
    cursor: pointer;
  }
  
  .task-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  
  .task-box {
    cursor: pointer;
    padding: 20px;
    margin: 10px;
    background-image: url('./images/note_logo1.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 180px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: black;
    text-align: center;
  }

  .completed {
    text-decoration: line-through;
    color: grey;
  }
  
  .add-task {
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    padding: 20px;
    margin: 10px;
    background-image: url('./images/newnote_logo1.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 180px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: black;
    text-align: center;
  }
  